#rejestracja{
  background-color: rgb(2, 87, 2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: #f5f6f7;
  font-size: 60px;
}
.register-panel {
  background: #1b1b32;
  color: aliceblue;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: auto auto;
}

#username, #password, #email, #firstName, #lastName {
  width: 70%;
  padding: 0.75rem;
  margin: auto auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.25rem;
}

#submit{
  margin-right: 8px;
  width: 30%;
  padding: 0.75rem 0.1rem;
  background-color: #007bff5b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submit:hover {
  background-color: #0057b33b;
}

#register{
  margin-left: 8px;
  width: 30%;
  padding: 0.75rem 0.1rem;
  background-color: #007bff5b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#register:hover {
  background-color: #0057b33b;
}
h2{
  font-size: 35px;
}

label{
  font-size: 1.5rem;
}
