<section id="control-wrapper">
  <div id="control-header">Obecność</div>

  <div id="control-panel">
    <div>
      <label for="group-select">Klasa</label>
      <select id="group-select" [(ngModel)]="selectedGroup" (change)="onOptionChanged($event)">
        <option *ngFor="let group of groups" [ngValue]="group">{{ group.code }}</option>
      </select>
    </div>

    <div>
      <label for="attendance-date">Data</label>
      <input type="date" id="attendance-date" [(ngModel)]="selectedDate">
    </div>

    <div>
      <button id="submit-button" (click)="submitAttendance()">Zapisz</button>
    </div><br>

    <div>
      <label for="lesson-name">Temat Zajęć</label>
      <input type="text" id="lesson-name" value="Temat" [value]="lessonSubject">
    </div>

    <div>
      <label for="room-number">Numer Sali</label>
      <input type="text" id="room-number" value="Numer Sali" [value]="lessonRoom">
    </div>

  </div>
</section>

<section id="attendance-list">
  <table id="attendance-table">
    <thead>
    <tr>
      <th>Lp.</th>
      <th>Uczeń</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ student.name }} {{student.surname}}</td>
      <td>
        <select class="select-status" [(ngModel)]="student.status" name="status-{{ i }}">
          <option value="obecny">Obecny</option>
          <option value="nieobecny">Nieobecny</option>
        </select>
      </td>
    </tr>
    </tbody>
  </table>
</section>
