
<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a (click)="activeTab = 'grades'" [class.active]="activeTab==='grades'">Oceny</a></li>
        <li><a (click)="activeTab = 'calendar'" [class.active]="activeTab==='calendar'">Plan lekcji</a></li>
        <li><a (click)="activeTab = 'presence'" [class.active]="activeTab==='presence'">Obecności</a></li>
        <li><a (click)="activeTab = 'menu'" [class.active]="activeTab==='menu'">Strona główna</a></li>
      </ul>
    </nav>
  </aside>

  <div style="flex: 1">
    <ng-container [ngSwitch]="activeTab" style="width: 100%">
      <app-presence-table *ngSwitchCase="'presence'"/>
      <app-classes-calendar *ngSwitchCase="'calendar'"/>
      <app-grades *ngSwitchCase="'grades'"/>
      <app-menu *ngSwitchCase="'menu'" (tabChange)="setActive($event)"/>
    </ng-container>
  </div>
</div>
