<section id="grades-wrapper">
  <div id="grades-header">Oceny</div>

  <div id="grades-panel">
    <div>
      <label for="group-select">Klasa:</label>
      <select id="group-select" [(ngModel)]="selectedGroup" (change)="onOptionChanged($event)">
        <option *ngFor="let group of groups" [ngValue]="group">{{ group.code }}</option>
      </select>
    </div>

    <div>
      <button id="add-grade-button" (click)="redirectToAddGrades()">Dodaj ocenę</button>
    </div>
  </div>

  <table id="grades-table">
    <thead>
    <tr>
      <th>Uczeń</th>
      <th>Oceny</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of studentAndGrade">
    <td>{{ student.student.name }} {{student.student.surname}}</td>
    <td>
      <span *ngFor="let grade of student.gradeOfStudent" class="grade-badge">{{ grade.score}}</span>
    </td>
    </tr>
    </tbody>
  </table>
</section>
